@charset "utf-8";

/*사회공헌 페이지 내용영역 */
.content_area{width: 100%; margin: 0 auto; overflow: hidden;}
#content .title_area {height: 400px;}
#content .title_area h2::before{content: 'Support'; display: block; width: 100%;
  position: absolute; font-size: 1rem; font-weight: 400; text-align: center;
  top: 150px; color: #E98300;}

/* intro */
.intro{width: 1400px; margin: 80px auto 0 auto; text-align: center; position: relative;}
.intro strong{font-size: 2rem;}
.intro strong::before{content: ''; width:620px; height: 15px; background: #E98300; opacity: .3;
position: absolute; left: 390px; top: 25px; z-index: -1;}
.intro img{position: absolute; left: 50%; top: -50px; transform: translateX(-50%);}
.intro_img{width: 2000px; height: 350px; background: url(../images/content1/intro.jpg)no-repeat;
margin: 50px auto;}

/* con1 */
.con1_box{width: 1400px; height: 1600px; margin: 100px auto;
  display: flex;}
.con1 ul{width: 1000px; margin-left: 400px;}
.con1 li{display: flex; margin-bottom: 60px;  position: relative;}
.con1 dl{margin-left: 30px; padding-top: 90px; text-align: justify;}
.con1 dl dt{font-size: 1.3rem; font-weight: 500; margin-bottom: 30px;}
.sticky_box{height: 1600px;}
.sticky{width: 150px; font-size: 1.3rem; text-align: center;
border-top: 3px solid #333; padding-top: 20px;}
.sticky.on{position: fixed; top: 95px; color: #E98300; border-top: 3px solid #E98300;}

.btn{width: 30px; height: 25px; border: 1px solid #ccc; color: #999; border-radius: 15px;
text-align: center; padding: 3px 5px; position: absolute; left: 505px; top: 250px;
font-size: 0.9rem; transition: all .1s ease-out;}
.btn:hover{background: #ccc; color: #333;}

