@charset "utf-8";

/* 사업영역 페이지 내용영역 */
.content_area{width: 100%; overflow: hidden; margin: 0 auto;}
#content .title_area {height: 400px;}
#content .title_area h2::before{content: 'Cosmetics · Health functional foods'; display: block; width: 100%;
  position: absolute; font-size: 1rem; font-weight: 400; text-align: center;
  top: 150px; color: #E98300;}

#content .con1{width: 1400px; position: relative; margin: 50px auto;}
#content .con1_img{width: 2000px; height: 600px; background: url(../images/content4/main.jpg)no-repeat;
margin: 50px auto;}
#content .con1 h3{font-size: 2.8rem; margin-bottom: 30px;}
#content .con1 p{font-size: 1.2rem;}

#content .con2{width: 1400px; margin: 0 auto; text-align: right;}
#content .con2 strong{font-size: 3rem; font-weight: 800; font-style: italic;
color: #89A72F; position: relative;}
#content .con2 strong::before{content: ''; width: 800px; height: 1px;
background: #89A72F; opacity: .5;
position: absolute; right: 0; bottom: 0;}
#content .con2 p{font-size: 1.1rem; margin: 40px 0 120px 0;}

#content .swiper-container{width: 1400px; margin: 100px auto 50px auto; padding-bottom: 30px;}
#content .swiper-wrapper{margin-top: 30px;}
.swiper-container h4{font-size: 1.5rem; font-weight: 400; position: relative;}
.swiper-container h4::before{content: ''; width: 300px; height: 1px;
background: #d9d9d9; position: absolute; left: 0; bottom: -10px;}
.swiper-container .swiper-pagination-bullet-active{background: #89A72F;}

.con3{margin-bottom: 90px;}